
/* General Styles for All Pages */

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: auto; /* Allow scrolling */
}

/* Container */
.container {
    width: 100%;
    max-width: 500px; /* calc(100vw - 2cm); */
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.736);
    padding: 20px;
    box-sizing: border-box;
    margin: 100px auto;
    position: relative;
    z-index: 1;
    overflow-wrap: break-word; /* Ensure long text (e.g., URLs) wraps within container */
}

h1 {
    font-size: 36px;
    color: #000000;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-size: 1.1em;
    color: #555;
}

strong {
    color: #1976d2; /* Primary Color */
}


/* Copy Alert */
.alert {
    color: green;
    margin-top: 10px;
}

/* Links */
a {
    color: #1976d2; /* Primary Color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Flash Message Styling */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

li {
    background-color: #ffffff00; /* Error Color */
    color: #f44336;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}


/* Form Styling */
form {
    width: 100%;
    max-width: 500px; /* Ensures the container doesn't exceed the viewport width minus 2cm */
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.736);
    padding: 20px;
    box-sizing: border-box;
    margin: 100px auto;
    position: relative;
    z-index: 1;
}

label {
    display: block;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

input[type="file"],
input[type="text"] {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

input[type="file"] {
    border: none;
    margin-bottom: 30px;
}

input:focus {
    outline: none;
    border-color: #1976d2;
    box-shadow: 0 0 5px rgba(25, 118, 210, 0.5);
}

/* Button Styling */
button {
    background-color: #b15dff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; /* Full width button */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #9422ff;
    transform: translateY(-2px);
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    form,
    .container {
        margin: 20px;
        max-width: fit-content;
        margin-top: 80px;
    }

    button {
        font-size: 14px;
        padding: 12px;
    }

    input {
        height: 36px;
        font-size: 14px;
    }
}
